<p-card class="register-card shadow-0 " [style]="{'width': '200'}">
    <div class="p-fluid grid">
        <div class="field col-12 sm:col-6 lg:6 justify-content-center flex">
            <!-- <div class="flex justify-content-center pb-3">
                <p-image src="assets/logo/teepee.png" alt="Image" width="100" height="80"></p-image>
              
            </div> -->
           <div>
            <h2>Drive in</h2>
           </div>
        </div>
        <div class="field col-12 sm:col-6 lg:6">
            <div class="flex justify-content-center mb-4 ">
                <p-image src="assets/logo/teepee.png" alt="Image" width="100" height="80"></p-image>
              
            </div>
            <div class="p-fluid grid ">
                
                <div class="field col-12 md:col-12">
                    <span class="p-float-label">
                        <input type="text" [(ngModel)]="userModel.Username"   [ngModelOptions]="{ standalone: true }" id="inputtext" pInputText>
                        <label for="inputtext">Username</label>
                    </span>
                </div>
                <div class="field col-12 md:col-12">
                    <span class="p-float-label">
                        <p-password [(ngModel)]="userModel.Password"   [ngModelOptions]="{ standalone: true }"></p-password>
                        <label for="inputtext">Password</label>
                    </span>
                </div>
                <div class="field col-12 md:col-12">
                    <span class="p-float-label">
                        <p-password></p-password>
                        <label for="inputtext">Confirm Password</label>
                    </span>
                </div>
                <div class="field col-12 md:col-12">
                    <div class="flex justify-content-center p-fluid grid">
                        <p-button (click)="signIn()" class="field col-5" label="Register"></p-button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">

    </ng-template>
</p-card>