<!-- <div class=" flex atop-0 right-0  shadow-2">
    <div class=" lign-items-end justify-content-start p-2 w-full ">
        <p-image src="assets/logo/location.png" alt="Image" width="50" height="50"></p-image>
    </div>
    <div class=" align-items-end justify-content-end p-2 w-full ">
        <button  routerLink="/authentication/login"  type="button" pButton label="Login"></button>
    </div>
</div> -->

<p-menubar class="shadow-3">
    <ng-template pTemplate="start">
        <p-image src="assets/logo/location.png" alt="Image" width="50" height="50"></p-image>
    </ng-template>
    <ng-template pTemplate="end">
        <button  routerLink="/authentication/login"  type="button" pButton label="Login"></button>
    </ng-template>
</p-menubar>